workflow.json
{
  "name": "AI Email Analyzer",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "ec4a9dce-5858-46ce-b476-71f6cfe91614",
      "name": "Gmail Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this email and return ONLY valid JSON.\n\n{\n  \"category\": \"string\",\n  \"priority\": \"Low|Medium|High\",\n  \"summary\": \"string\"\n}\n\nEmail:\n{{$json.snippet}}\n\nDo not return markdown.\nDo not return explanations.\nReturn JSON only.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        240,
        0
      ],
      "id": "14f672e9-c954-426c-8ff6-9fc6b079d0f9",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "openrouter/free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        352,
        208
      ],
      "id": "73483d56-2f9f-4826-99fd-3674c80d3a74",
      "name": "OpenRouter Chat Model"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Email Analysis"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{$now}}",
            "Email Preview": "={{$node[\"Gmail Trigger\"].json[\"snippet\"]}}",
            "Category": "={{$json.category}}",
            "Priority": "={{$json.priority}}",
            "Summary": "={{$json.summary}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Preview",
              "displayName": "Email Preview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        16
      ],
      "id": "5d7cce71-ce66-41c6-98bd-7082e72be9c6",
      "name": "Append row in sheet"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "050d6f43-effa-4f7a-a197-1a794e042866",
              "name": "category",
              "value": "={{ JSON.parse($json.text).category }}",
              "type": "string"
            },
            {
              "id": "f28d1b51-ef11-4908-b110-199a23e0327e",
              "name": "priority",
              "value": "={{ JSON.parse($json.text).priority }}",
              "type": "string"
            },
            {
              "id": "5bbb8efd-5113-45db-98ae-010d2f2695a1",
              "name": "summary",
              "value": "={{ JSON.parse($json.text).summary }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        16
      ],
      "id": "8d166d66-ec17-4c1c-9d96-db7f3dcc89d5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "YOUR_CHAT_ID",
        "text": "=📧 New Email Analyzed  Category: {{$node[\"Edit Fields\"].json[\"category\"]}}  Priority: {{$node[\"Edit Fields\"].json[\"priority\"]}}  Summary: {{$node[\"Edit Fields\"].json[\"summary\"]}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        976,
        16
      ],
      "id": "b8b2898c-2c5b-475c-8d41-e03e9806d28d",
      "name": "Send a text message",
      "webhookId": "8c1eb993-8571-4c2e-9c95-f878f23205a7"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "cc61efba-1910-4607-8fee-cc817ab52705",
  "id": "szwP6tVVSmrJZ9e4",
  "tags": []
}